<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570791652019-0bl3qh7shts73l65fqg92en1h5ki9o3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570791652019-0bl3qh7shts73l65fqg92en1h5ki9o3a</string>
	<key>API_KEY</key>
	<string>AIzaSyBrirooUj4SL9-qvKiZFpWGull55rmv0Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>570791652019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealApp</string>
	<key>PROJECT_ID</key>
	<string>meal-app-9ad2e</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-app-9ad2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570791652019:ios:a7af2bea8082b5a9945ec6</string>
</dict>
</plist>